<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pengcheng.realty.alliance.mapper.AllianceMapper">

    <select id="selectPageWithScope" resultType="com.pengcheng.realty.alliance.entity.Alliance">
        SELECT * FROM alliance
        <if test="ew != null and ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ew.customSqlSegment}
        </if>
    </select>

    <select id="selectListWithScope" resultType="com.pengcheng.realty.alliance.entity.Alliance">
        SELECT * FROM alliance
        <if test="ew != null and ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ew.customSqlSegment}
        </if>
    </select>

</mapper>
